{
    "AGENT_NAME": "{{ owlet_agent_name }}",
    "AUTH_TOKEN": "{{ owlet_auth_token }}",
    "AUTH_LOG_PATH": "{{ owlet_auth_log_path }}",
    "AUTH_PARSER": "{{ owlet_auth_parser }}",
    "SLEEPTIME": {{ owlet_sleeptime }},
    "SERVER_URL": "{{ owlet_server_url }}",
    "SERVER_TIMEOUT": {{ owlet_server_timeout }},
    "DEBUG_PRINT": {{ owlet_debug_print | lower }},
    "LOGFILE": "{{ owlet_logfile }}",
    "STATUSFILE": "{{ owlet_statusfile }}",
    "STATE_FILE": "{{ owlet_statefile }}",
    "AGENT_TYPE": "{{ owlet_agent_type }}"
}
