{
    "AGENT_NAME": "{{ kingfisher_agent_name }}",
    "AUTH_TOKEN": "{{ kingfisher_auth_token }}",
    "SLEEPTIME": {{ kingfisher_sleeptime }},
    "SERVER_URL": "{{ kingfisher_server_url }}",
    "SERVER_TIMEOUT": {{ kingfisher_server_timeout }},
    "DEBUG_PRINT": {{ kingfisher_debug_print | lower }},
    "LOGFILE": "{{ kingfisher_logfile }}",
    "STATUSFILE": "{{ kingfisher_statusfile }}",
    "STATE_FILE": "{{ kingfisher_statefile }}",
    "AGENT_TYPE": "{{ kingfisher_agent_type }}",
    "DISARM": {{ kingfisher_disarm | lower }}
}
