[settings]
LISTEN_HOST = "{{ cppc2_listen_host }}"
LISTEN_PORT = 80
AGGREGATION_SERVER_URL = "{{ cppc2_aggregation_server_url }}"
AGENT_TYPE = "{{ cppc2_agent_type }}"
AUTH_TOKEN = "{{ cppc2_auth_token }}"
KEY = b"{{ cppc2_key }}"
GOOD_IPS = {{ cppc2_good_ips }}
LOGFILE = "{{ cppc2_logfile }}"
DATABASE_CREDS = "{{ cppc2_database_creds }}"
DATABASE_LOCATION = "{{ cppc2_database_location }}"
DATABASE_DB = "{{ cppc2_database_db }}"
