import signal, sys, csv, random

trivia = "{{ question_loc }}"

attempts = 0

def catch_exit(sig, frame):
        print("\nAren't you having fun? :(")

        global attempts
        attempts += 1
        if attempts == 3: exit(1)

def incorrect():
        print("Wrong answer! Try again.")

        global attempts
        attempts += 1
        if attempts == 3: exit(1)

signal.signal(signal.SIGINT, catch_exit)
signal.signal(signal.SIGTSTP, catch_exit)

print("It's Trivia Timmmmeeeeeee!!!!!!!!!!\n\n")

row_num = 0
with open(trivia) as f:
        row_num = sum(1 for line in f)


for i in range(3):
        question_num = random.randint(0, row_num-1)
        question = []

        with open(trivia) as f:
                reader = csv.reader(f)
                # Select random question
                for j in range(question_num):
                        next(reader)

                question = next(reader)

        print(question)

        # Randomize answer order
        ans_list = question[2::]
        random.shuffle(ans_list)
        right_num = random.randint(0, len(ans_list))
        ans_list.insert(right_num, question[1])

        print(question[0])
        for i in range(len(ans_list)):
                print(f"\t{i}.", ans_list[i])

        ans = input("Enter number of answer: ")
        if ans == "{{ exit_text }}": exit(0)
        elif ans == str(right_num): exit(0)
        else: incorrect()

exit(1)
