# log.txt must be present before running!

services:
  nginx:
    image: {{ whackamole_proxy_container }}
    ports:
      - target: 443
        published: {{ whackamole_port_local }}
        protocol: tcp
        mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./cert.pem:/etc/nginx/cert.pem:ro
      - ./key.pem:/etc/nginx/key.pem:ro
    depends_on:
      - webserver
    networks:
      - whackamole_net

  webserver:
    image: {{ whackamole_server_container }}
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - APP_CONTEXT=SERVER
    restart: unless-stopped
    command: ["sh", "-c", "apk add --no-cache git && apk add --no-cache git-daemon && gunicorn --bind 0.0.0.0:80 --workers 1 --worker-tmp-dir /dev/shm server:app"]
    deploy:
      replicas: {{ whackamole_webserver_replicas }}
    depends_on:
      worker:
        condition: service_healthy
    networks:
      - whackamole_net
    expose:
      - "80"
  
  worker:
    image: {{ whackamole_server_container }}
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - APP_CONTEXT=WORKER
    restart: unless-stopped
    command: ["python3", "worker.py"]
    depends_on:
      database:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "test -f /tmp/worker_ready"]
      interval: 3s
      timeout: 2s
      retries: 5
      start_period: 10s
    networks:
      - whackamole_net

  database:
    image: {{ whackamole_database_image }}
    restart: always
    environment:
      POSTGRES_USER: {{ database_creds |  split(':') | first }}
      POSTGRES_PASSWORD: {{ database_creds |  split(':') | last }}
      POSTGRES_DB: {{ database_db }}
    #ports:
    #  - "5432:5432"
    volumes:
      #- pgdata:/var/lib/postgresql/data # <v18
      - pgdata:/var/lib/postgresql # >=v18
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\""]
      interval: 3s
      timeout: 2s
      retries: 5
    networks:
      - whackamole_net
    expose:
      - "5432"

volumes:
  pgdata:

networks:
  whackamole_net:
    driver: bridge