events { }

http {
    resolver 127.0.0.11 valid=30s;

    #upstream webserver_nodes {
    #    server webserver:80;
    #}

    #server {
    #    listen 80;
    #    return 301 https://$host$request_uri;
    #}

    set_real_ip_from  172.17.0.0/16; 
    set_real_ip_from  172.18.0.0/16;
    set_real_ip_from  172.19.0.0/16;
    real_ip_header    X-Real-IP; 
    real_ip_recursive on;

    server {
        listen {{ whackamole_port_local }} ssl;
        server_name localhost;
        client_max_body_size {{ whackamole_nginx_max_size }};
        ssl_certificate     /etc/nginx/cert.pem;
        ssl_certificate_key /etc/nginx/key.pem;

        # Only allow access to the web endpoints on localhost (for testing/backup) and the vpn range to limit exposure
        location = / {
            #set $upstream_target http://webserver_nodes;
            set $upstream_target http://webserver;

            {% for ip in whackamole_allow_ips_web %}
            #allow {{ ip }};
            {% endfor %}
    
            #deny all;
    
            proxy_pass $upstream_target;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }
        location ^~ /web/ {
            #set $upstream_target http://webserver_nodes;
            set $upstream_target http://webserver;

            {% for ip in whackamole_allow_ips_web %}
            #allow {{ ip }};
            {% endfor %}
    
            #deny all;
    
            proxy_pass $upstream_target;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        # Only allow access to the agent endpoints on localhost (for testing/backup) and the inscope subnets to limit exposure
        location ^~ /agent/ {
            #set $upstream_target http://webserver_nodes;
            set $upstream_target http://webserver;
            
            {% for ip in whackamole_allow_ips_agent %}
            #allow {{ ip }};
            {% endfor %}
    
            #deny all;
    
            proxy_pass $upstream_target;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        # No other authorized endpoints exist
        #location / {
        #    proxy_pass http://webserver_nodes;
        #    proxy_set_header Host $host;
        #    proxy_set_header X-Real-IP $remote_addr;
        #    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #    proxy_set_header X-Forwarded-Proto $scheme;
        #}
    }
}