[Unit]
Description=GOST Central Proxy Service
After=network.target

[Service]
Type=simple
ExecStart={{ gost_install_dir }}/gost -C {{ gost_config_dir }}/config.json
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target