[defaults]
host_key_checking = False
forks = 25
roles_path = roles/
inventory = inventory.yaml
no_target_syslog = True
remote_tmp = /tmp/.ans_tmp
# Use /dev/shm if you want the scripts to exist only in RAM
# remote_tmp = /dev/shm/.ansible

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = True